.icon-delete-users {
  height: 150px;
  width: 150px;
  fill: white;
}

.btn-delete {
  background-color: red;
  border: 0px solid white;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
}
